{{template "header" "discflo"}}
<div class="center_box">
	<h1 class="title">
		Block {{.FnName}} ({{.BasicBlockId}})
	</h1>
	<hr/>
	<ul>
	{{$color := .Color}}
	{{range $_, $cluster := .Clusters}}
		{{if $cluster.Included}}
		<li>
			{{$cluster.Score}}
			<a href="/exclude/{{$cluster.Id}}">Exclude Cluster</a>
			<ul>
			{{range $nid, $node := $cluster.Nodes}}
				<li>
					{{$node.Score}}
					{{if not $node.Test}}
						<a href="/test/{{$cluster.Id}}/{{$nid}}">Generate Test</a>
					{{end}}
					<div>
						{{if $node.Test}}
							<h4>Test Input</h4>
							<pre>{{$node.Test}}</pre>
						{{end}}
						<a href="/graph/{{$cluster.Id}}/{{$nid}}">
							<img src="/graph/{{$cluster.Id}}/{{$nid}}"/>
						</a>
					</div>
				</li>
			{{end}}
			</ul>
		</li>
		{{end}}
	{{end}}
	</ul>
</div>
{{template "footer"}}

