{{template "header" "discflo"}}
<div class="center_box">
	<h1 class="title">
		Block {{.FnName}} ({{.BasicBlockId}})
	</h1>
	<hr/>
	<ul>
	{{$color := .Color}}
	{{range $_, $cluster := .Clusters}}
		{{if $cluster.Included}}
		<li>
			{{$cluster.Score}}
			<a href="/exclude/{{$cluster.Id}}">Exclude Cluster</a>
			{{range $nid, $node := $cluster.Nodes}}
				{{if $node.Test}}
				<pre>{{$node.Test}}</pre>
				{{end}}
			{{end}}
			<ul>
			{{range $nid, $node := $cluster.Nodes}}
				<li>
					{{if not $node.Test}}
					<a href="/test/{{$cluster.Id}}/{{$nid}}">Generate Test</a>
					{{end}}
					{{$node.Node}}
				</li>
			{{end}}
			</ul>
		</li>
		{{end}}
	{{end}}
	</ul>
</div>
{{template "footer"}}

