{{template "header" "discflo"}}
<div class="center_box">
	<h1 class="title">
		Block {{.FnName}} ({{.BasicBlockId}})
	</h1>
	<hr/>
	<ul>
	{{$color := .Color}}
	{{range $_, $cluster := .Clusters}}
		{{if $cluster.Cluster.Included}}
		<li>
			{{$cluster.Score}}
			<a href="/exclude/{{$cluster.Cluster.Id}}">Exclude Cluster</a>
			<ul>
			{{range $nid, $node := $cluster.Nodes}}
				<li>
					{{$node.Score}}
					<ul>
					{{range $testId, $test := $node.MinimizableTests}}
						<li>
							<a href="/test/{{$testId}}/{{$cluster.Cluster.Id}}/{{$nid}}">Generate Minimal Test ({{$testId}}) {{$test.From}}</a>
						</li>
					{{end}}
					</ul>
					<div>
						{{range $testId, $test := $node.Tests}}
							<h4>Test Input ({{$testId}}) {{$test.From}}</h4>
							<a href="/test/{{$testId}}/{{$cluster.Cluster.Id}}/{{$nid}}">View Input/Output</a>
							<pre>{{$test}}</pre>
						{{end}}
						<a href="/graph/{{$cluster.Cluster.Id}}/{{$nid}}">
							<img src="/graph/{{$cluster.Cluster.Id}}/{{$nid}}"/>
						</a>
					</div>
				</li>
			{{end}}
			</ul>
		</li>
		{{end}}
	{{end}}
	</ul>
</div>
{{template "footer"}}

