
body {
	max-width: 95vw;
}

.block {
	display: list-item;
	margin-left: 1em;
	margin-top: .1em;
	margin-bottom: .1em;
}

.block .score,
.block .position,
.block .basic-block {
	display: inline;
}

pre, img, figure, table {
	margin: 1em auto;
	padding: .5em;
	overflow-x: auto;
	border: 3px solid silver;
}

img {
	max-width:100%;
}
